.green-background {
  background-color: lightgreen;
  padding-top: 25px;
  padding-bottom: 25px;
}

.colorblocktop {
  padding-top: 25px;
  text-align: center;
}

.ui-header {
	text-align: center;
  color: white;
}

#flex1 {
	display: flex;
	flex-direction: row;
}

#flex2 {
	display: flex;
	flex-direction: column;
}

#startDateBox {
	padding-bottom: 20px;
}

input:required:after {
  content: " *";
  color: red;
}

input[type=text]:required::placeholder {
  text-align: right;
  color: red;
}

.required {
  color: red;
}

#flex3 {
	display: flex;
	flex-direction: column;
}

#endDateBox {
	padding-bottom: 20px;
}

#startDateTime {
	padding-left: 33%;
}

#endDateTime {
	padding-right: 30%;
	padding-left:30px;
}

.startDateText {
	font-weight: bold;
	font-size: 20px;
}

#geolocationBox {
	padding-top: 30px;
}

h1 {
	font-size: 40px;
}

body {
	background-color: lightgreen;
}
